{
  "version": 2,
  "buildCommand": "composer install --no-dev --optimize-autoloader && npm install && npm run build",
  "outputDirectory": "public",
  "installCommand": "composer install --no-dev --optimize-autoloader && npm install",
  "framework": null
}

